*
.boton1 {
    background-color: white;
    color: rgb(37, 153, 2);
    border: 2px solid rgb(49, 138, 8);/* Blue */
    display: inline-block;
    font-size: 20px;
    border-radius: 20px;
    width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 4px 50px;
}

.boton2 {
    background-color: rgb(76, 223, 76);
    border-radius: 50%;
    font-size: 25px;
    border: none;
    padding: 7px 12px;
    margin: 12px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 4px 50px;
}

.boton3 {
    background-color: rgb(59, 88, 255);
    font-size: 16px;
    padding: 7px 20px;
    width: 200px;
    color: white;
    box-shadow: 9px 9px 2px 1px black;
    margin: 4px 50px;
}